@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jumble';
  src: url('../../public/Jumble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Jumble', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffcd1;
  padding: 5%;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  width: 100%;
  margin-top: 20%;
}

.game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 80px;
}



.game-button.bg-teal {
  background-color: #B490D6;
}

.game-button.bg-teal:hover {
  background-color: #8E6DB0;
}

.game-button.bg-pink {
  background-color: #E86523;
}

.game-button.bg-pink:hover {
  background-color: #B3541C;
}

.game-button.bg-yellow {
  background-color: #35B0BB;
}

.game-button.bg-yellow:hover {
  background-color: #278993;
}

.game-button.bg-indigo {
  background-color: #DA2D5E;
}

.game-button.bg-indigo:hover {
  background-color: #B1224A;
}

.game-button.bg-blue {
  background-color: #F75796;
}

.game-button.bg-blue:hover {
  background-color: #C24675;
}

.game-button.bg-lime {
  background-color: #B5DE30;
}

.game-button.bg-lime:hover {
  background-color: #93B625;
}



.info-button {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 3%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  background-color: #6aaaf7;
  color: white;
  font-size: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.info-button:hover {
  background-color: #3b82f6;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.info-box {
  position: absolute;
  top: 6%;
  left: 0;
  padding: 24px;
  background-color: white;
  color: black;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 0.3s ease;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.logo {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: auto;

}





@media (max-width: 1024px) {
  .title {
    font-size: 3rem;
  }

  .game-button {
    padding: 18px;
    font-size: 1.1rem;
    height: 70px;
  }


  .info-button {
    width: 45px;
    height: 45px;
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }



  .game-button {
    font-size: 1rem;
    padding: 12px;
    height: 60px;
  }

  .logo {
    width: 50%;
  }

  .info-button {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}

@media (max-width: 390px) {
  .title {
    font-size: 2rem;
  }

  .game-button {
    font-size: 1.2rem;
    padding: 10px;
    height: 50px;
  }

  .game-button:not(.exclude-font-size) {
    font-size: 1.3rem;
  }

  .grid-container {
    gap: 2rem;
    row-gap: 5rem;
    margin-top: 0;
  }

  .logo {
    width: 75%;
    left: 53%;
  }

  .info-button {
    width: 35px;
    height: 35px;
    font-size: 22px;

  }

  .info-box {
    position: absolute;
    top: 6%;
    right: 5%;
    left: 0;
    padding: 24px;
    background-color: white;
    color: black;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 0.3s ease;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .game-button {
    font-size: 100%;
    width: 100%;

  }

  .game-button:not(.exclude-font-size) {
    font-size: 100%;
  }
}

@media (max-width: 432px) {
  .title {
    font-size: 2rem;
  }

  .game-button {
    font-size: 1.1rem;
    padding: 10px;
    height: 50px;
  }

  .game-button:not(.exclude-font-size) {
    font-size: 1.3rem;
  }

  .grid-container {
    gap: 2rem;
    row-gap: 5rem;
    margin-top: 0;
  }

  .logo {
    width: 75%;
    left: 53%;
  }

  .info-button {
    width: 35px;
    height: 35px;
    font-size: 22px;

  }

  .info-box {
    position: absolute;
    top: 6%;
    right: 5%;
    left: 0;
    padding: 24px;
    background-color: white;
    color: black;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 0.3s ease;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
}

