node_modules/

# Ignore log files
*.log

.idea/

# Ignore env files (som inneholder sensitive data)
.env

# Ignore build directories if they exist
dist/
build/

# Ignore coverage reports (om du bruker testdekningsverktøy)
coverage/