.background {
    background-image: url("../../../public/roulettebground.png");
    background-size: 100%;
    min-height: 100vh;
}

.backButton2 {
    position: absolute;
    top: 2.8%;
    left: 3%;
    font-size: 1rem;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.backButton2:hover {
    background-color: grey;
    color: white;
}

@media (max-width: 390px) {
    .backButton2 {
        position: absolute;
        top: 2.8%;
        left: 12%;
        font-size: 1rem;
        background-color: transparent;
        color: black;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}